@font-face {
    font-family: 'D-DIN';
    src: url('../public/din_fonts/D-DIN.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  /* ##################   Variables ########################### */
:root {
  --background-color: #1e1e1e; /* Light theme background color */
  --primary-color: #252526; /* Light theme primary color */
  --secondary-color: #191f24; /* Light theme secondary color */
  --border-color: #333333; /* Light theme border color */
  --text-color: #f2f2f2; /* Light theme text color */
  --selection-color: #f2f2f2; /* Light theme selection color */
  --accept-color: #37c837; /* Light theme accept color */
  --reject-color: #c83737; /* Light theme reject color */
  --salamander-black: #000000; 
  --salamander-yellow:#fcf84a;
}

/*
@media  (){
  :root {
    --background-color: #f9f9f9;  
    --primary-color: #e6e6e6; 
    --secondary-color: #dbdbe3; 
    --border-color: #cccccc; 
    --text-color: #696969; 
    --selection-color: #696969; 
    --accept-color: #008000; 
    --reject-color: #550000; 
    --salamander-black: #000000; 
    --salamander-yellow:#fcf84a;
  }
}
*/






  /* ################## global style ######################## */
  .logo{
    padding:0px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .appContainer{
    padding:0px;
    background-color:var( --background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .appBody{
    padding:0px;
    background-color:var(--primary-color);
    width: 90%;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* ################## Landing ########################### */
  .landingContainer{
    padding: 0px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
  }
  .landingTitle{
    padding:30px;
    color:var(--text-color);
    font-size: 25px;
    font-family:D-DIN;
  }
  .uploadTargetArea{
    padding:0px;
    height:50vh;
    width:50vh;
    border: 2px dashed var(--selection-color);
    border-radius:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

  }
  .uploadImage{
    padding:0px;
  }
  .instructionText{
    padding:10px;
    color:var(--text-color);
    font-family:D-DIN;
  }
  .fileInput{
    opacity: 0;
    width:100%;
    height:100%;
    position:absolute;
  }

  /* ################## Upload ########################### */
  .uploadContainer{
    flex:1;
    padding:0px;
    width: 90%;
    height:90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* ##################  Collapse Button ########################### */

  .collapsibleButtonContainer{
    display:flex;
    flex-direction: row;
    height:90vh;
    width:3vh;
    justify-content: center;
    align-items: center;
  }

  .collapseButton{
    height:80px;
    background-color: var(--primary-color);
    color:var(--text-color);
    font: size 50px;
    font-weight: bold;
    border: 2px solid var(--border-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .collapseButton:hover {
    background-color: var(--secondary-color);
    color:var(--text-color);
  }
  
  .collapseButton:active {
    background-color: var(--selection-color);
    color: var(--primary-color)
  }

    /* ##################  ImageArray ########################### */

    .imageArrayContainer{
      flex:1;
      height:90vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .ImageDataContainer{
    width:80vh;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .thumbnailCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkolivegreen;
  padding:20px;
 }
 .thumbnailCard:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  border: 5px solid var(--border-color);
 }
 .thumbnailCard:active{
  background-color:var(--selection-color);
 }
  .thumbnail{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img{
    width:300px;
    height:300px;
    object-fit:cover;
    object-position: center;
  }

  .thumbnailName{
    color:var(--text-color)
  }

  .imageGridContainer {
    display: grid;
    grid-template-columns: repeat(6,   minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, auto);
    gap: 5px;
    overflow-y: auto;
    max-height: 90vh;
    max-width:100%;
    direction: ltr;
  }

  /* ##################  imageDataForm ########################### */
.imageDataContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:90vh;
}

.imageDataForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.imageDataFormRow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding:10px;
}

.imageDataFormTitle{
  color:var(--text-color);
  font-size: 30px;
}

.imageDataFormLabel{
  grid-column: 1 / 2;
  text-align: left;
  color:var(--text-color);
  font-size: 18px;
}

.imageDataFormInput {
  grid-column: 2 / 3;
  padding: 5px;
  border-radius: 5px;
  border: none;
  max-width: 90%;
}