@font-face {
    font-family: 'D-DIN';
    src: url('../public/din_fonts/D-DIN.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  /* ##################   Variables ########################### */
:root {
  --background-color: #1e1e1e; /* Light theme background color */
  --primary-color: #252526; /* Light theme primary color */
  --secondary-color: #191f24; /* Light theme secondary color */
  --border-color: #333333; /* Light theme border color */
  --text-color: #f2f2f2; /* Light theme text color */
  --selection-color: #f2f2f2; /* Light theme selection color */
  --accept-color: #37c837; /* Light theme accept color */
  --reject-color: #c83737; /* Light theme reject color */
  --salamander-black: #000000; 
  --salamander-yellow:#fcf84a;
}

/*
@media  (){
  :root {
    --background-color: #f9f9f9;  
    --primary-color: #e6e6e6; 
    --secondary-color: #dbdbe3; 
    --border-color: #cccccc; 
    --text-color: #696969; 
    --selection-color: #696969; 
    --accept-color: #008000; 
    --reject-color: #550000; 
    --salamander-black: #000000; 
    --salamander-yellow:#fcf84a;
  }
}
*/






  /* ################## global style ######################## */
  .logo{
    padding:0px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .appContainer{
    padding:0px;
    background-color:var( --background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .appBody{
    padding:0px;
    background-color:var(--primary-color);
    width: 90%;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* ################## Landing ########################### */
  .landingContainer{
    padding: 0px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    

  }
  .landingTitle{
    padding:30px;
    color:var(--text-color);
    font-size: 25px;
    font-family:D-DIN;
  }
  .uploadTargetArea{
    padding:0px;
    height:50vh;
    width:50vh;
    border: 2px dashed var(--selection-color);
    border-radius:20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

  }
  .uploadImage{
    padding:0px;
  }
  .instructionText{
    padding:10px;
    color:var(--text-color);
    font-family:D-DIN;
  }
  .fileInput{
    opacity: 0;
    width:100%;
    height:100%;
    position:absolute;
  }

    /* ################## images ########################### */
  .imagesContainer{
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .thumbnailContainer{
    padding:10px;
  }

  .image{
    border:10px solid var(--border-color);
    filter: blur(0);
    filter: brightness(1);

  }
  .image:hover{
    filter: brightness(0.5);
  }

  .image:active{
    filter: brightness(2);
  }
  .imgData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .imageRow{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .imgName{
    color:var(--text-color);
    font-family:D-DIN;
  }

  .imgSize{
    color:var(--text-color);
    font-family:D-DIN;
  }

  .imagesCtrlButtons{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .imageButton{
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 2px solid var(--selection-color);
    color:var(--text-color);
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
  }
  .imageButton:active {
    background-color: var(--selection-color);
    color:var(--primary-color);
    font-weight: bold;
    }

    .imageButton:hover {
    border: 3px solid var(--secondary-color);
}